<!-- Hero Section Begin -->
<section class="hero">
     <div class="hero__slider owl-carousel">
          @Html.Partial("_HeroItem")
          @Html.Partial("_HeroItem")
          @Html.Partial("_HeroItem")
          @Html.Partial("_HeroItem")
          @Html.Partial("_HeroItem")
     </div>
</section>
<!-- Hero Section End -->