@using System.Web.Optimization;

<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Male-Fashion  |  @ViewBag.Title</title>
     <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet" />

     @Styles.Render("~/bundles/bootstrap/css")
     @Styles.Render("~/bundles/font-awesome/css")
     @Styles.Render("~/bundles/elegant-icons/css")
     @Styles.Render("~/bundles/magnific-popup/css")
     @Styles.Render("~/bundles/nice-select/css")
     @Styles.Render("~/bundles/owl-carousel/css")
     @Styles.Render("~/bundles/slicknav/css")

     @if (IsSectionDefined("Styles"))
     {
          RenderSection("Styles", required: false);
     }

     @Styles.Render("~/bundles/main/css")
</head>
<body>
     <!-- Page Preloder -->
     <div id="preloder">
          <div class="loader"></div>
     </div>

     @RenderBody()

     <!-- Js Plugins -->
     @Scripts.Render("~/bundles/jquery/js")
     @Scripts.Render("~/bundles/bootstrap/js")
     @Scripts.Render("~/bundles/nice-select/js")
     @Scripts.Render("~/bundles/nicescroll/js")
     @Scripts.Render("~/bundles/magnific-popup/js")
     @Scripts.Render("~/bundles/countdown/js")
     @Scripts.Render("~/bundles/slicknav/js")
     @Scripts.Render("~/bundles/mixitup/js")
     @Scripts.Render("~/bundles/owl-carousel/js")
     @Scripts.Render("~/bundles/main/js")

     @RenderSection("scripts", required: false)
</body>
</html>